<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




* {
font-family: 'Nanum Pen Script', cursive !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p
{font-family: 'Nanum Pen Script', cursive !important;}
p{
color:black;
text-align: left;
font-size: 15px
}
h1{
color:black;
text-align: center;
font-size: 30px}
h2{
color:black;
text-align: center;
font-size: 15px;
}
